In [2]:
import pandas as pd

In [3]:
data_1 = pd.read_csv('Data/DatasetOne.csv')

In [4]:
# Drop columns with only nulls
null_col_bool = [i for i in [data_1.isna().sum() != len(data_1)][0]]
cols_keep = data_1.columns[null_col_bool]
data_1 = data_1.loc[:, cols_keep]

In [5]:
# Drop this columns because all values are zero (these are related to Instagram and Linkedin attributes, and we ont have Instagram or Linknedin data)
cols_drop = [col for col in data_1.select_dtypes(include=['int', 'float']) if data_1[col].sum() == 0]
data_1.drop(columns = cols_drop, inplace=True)

In [6]:
# Drop columns because all entries are 0
0 == data_1['Is Syndicated'].sum() == data_1['Linkedin Sponsored'].sum() == data_1['Starred'].sum() == data_1['Checked'].sum()

# Drop columns becuase they only have one unique value (True for example)
1 == data_1['Total Monthly Visitors'].nunique() == data_1['Content Source'].nunique() == data_1['Content Source Name'].nunique() == data_1['Page Type Name'].nunique() == data_1['Pub Type'].nunique()

True

In [7]:
# Not very useful, same case with Latitude
data_1['Longitude'].value_counts()

 0.000000      447157
-77.036819          3
-87.629005          2
-78.534470          1
-84.772171          1
-75.708061          1
-74.011040          1
-80.546501          1
-87.628670          1
-87.630859          1
-79.926163          1
-121.919281         1
-118.100418         1
-115.148445         1
Name: Longitude, dtype: int64

In [8]:
# Non useful columns 
non_useful_cols = ['Avatar', 'Latitude', 'Longitude', 'Total Monthly Visitors', 'Content Source', 'Is Syndicated', 'Linkedin Sponsored', 'Starred', 'Content Source Name', 'Page Type Name', 'Pub Type', 'Checked']
data_1.drop(columns = non_useful_cols, inplace=True)

In [9]:
data_2 = pd.read_csv('Data/DatasetTwo.csv')
data_2 = data_2.loc[:, cols_keep]
data_2.drop(columns = cols_drop, inplace=True)
data_2.drop(columns = non_useful_cols, inplace=True)

In [10]:
# Final columns kept
data_1.columns

Index(['Query Id', 'Query Name', 'Date', 'Title', 'Url', 'Domain', 'Sentiment',
       'Page Type', 'Language', 'Country Code', 'Continent Code', 'Continent',
       'Country', 'City Code', 'Account Type', 'Added', 'Author', 'City',
       'Entity Info', 'Expanded URLs', 'Full Name', 'Full Text', 'Gender',
       'Hashtags', 'Impact', 'Impressions', 'Interest', 'Location Name',
       'Media URLs', 'Mentioned Authors', 'Original Url', 'Professions',
       'Resource Id', 'Short URLs', 'Thread Author', 'Thread Created Date',
       'Thread Entry Type', 'Thread Id', 'Twitter Author ID',
       'Twitter Followers', 'Twitter Following', 'Twitter Reply Count',
       'Twitter Reply to', 'Twitter Retweet of', 'Twitter Retweets',
       'Twitter Likes', 'Twitter Tweets', 'Twitter Verified', 'Updated',
       'Reach (new)', 'Engagement Type', 'Region', 'Region Code',
       'Weblog Title'],
      dtype='object')

In [11]:
data_2.columns

Index(['Query Id', 'Query Name', 'Date', 'Title', 'Url', 'Domain', 'Sentiment',
       'Page Type', 'Language', 'Country Code', 'Continent Code', 'Continent',
       'Country', 'City Code', 'Account Type', 'Added', 'Author', 'City',
       'Entity Info', 'Expanded URLs', 'Full Name', 'Full Text', 'Gender',
       'Hashtags', 'Impact', 'Impressions', 'Interest', 'Location Name',
       'Media URLs', 'Mentioned Authors', 'Original Url', 'Professions',
       'Resource Id', 'Short URLs', 'Thread Author', 'Thread Created Date',
       'Thread Entry Type', 'Thread Id', 'Twitter Author ID',
       'Twitter Followers', 'Twitter Following', 'Twitter Reply Count',
       'Twitter Reply to', 'Twitter Retweet of', 'Twitter Retweets',
       'Twitter Likes', 'Twitter Tweets', 'Twitter Verified', 'Updated',
       'Reach (new)', 'Engagement Type', 'Region', 'Region Code',
       'Weblog Title'],
      dtype='object')

In [12]:
data_1['Professions'].value_counts()

{profession=Artist, jobTitle=Artist}                                                                                                                                    3348
{profession=Teacher & Lecturer, jobTitle=Teacher}                                                                                                                       2398
{profession=Executive, jobTitle=Owner}                                                                                                                                  1704
{profession=Health practitioner, jobTitle=Vet}                                                                                                                          1669
{profession=Executive, jobTitle=President}                                                                                                                              1536
                                                                                                                                                                        ...
{profession=Artist, jobTitle=Photographer}, {profession=Artist, jobTitle=Urban Planner}                                                                                    1
{profession=Artist, jobTitle=Songwriter}, {profession=Teacher & Lecturer, jobTitle=Teacher}                                                                                1
{profession=Artist, jobTitle=Composer}, {profession=Journalist, jobTitle=Editor}, {profession=Executive, jobTitle=Founder}, {profession=Artist, jobTitle=Songwriter}       1
{profession=Health practitioner, jobTitle=Counselor}, {profession=Health practitioner, jobTitle=Psychoanalyst}                                                             1
{profession=Artist, jobTitle=Artist}, {profession=Scientist & Researcher, jobTitle=Neuroscientist}                                                                         1
Name: Professions, Length: 3592, dtype: int64

In [13]:
data_1['Engagement Type'].value_counts().sum()

422985

In [14]:
data_1.Title.duplicated().sum()

391422

In [15]:
len(data_1) - data_1.Title.duplicated().sum()

55751

In [16]:
data_1['Twitter Verified'].value_counts()

False    439974
True       7199
Name: Twitter Verified, dtype: int64

In [17]:
data_1.groupby('Twitter Verified')['Twitter Retweets'].sum()

Twitter Verified
False    226703
True     206244
Name: Twitter Retweets, dtype: int64

In [18]:
data_1.head(2)

,Query Id,Query Name,Date,Title,Url,Domain,Sentiment,Page Type,Language,Country Code,...,Twitter Retweets,Twitter Likes,Twitter Tweets,Twitter Verified,Updated,Reach (new),Engagement Type,Region,Region Code,Weblog Title
0,2001600692,Attempt_1,2023-03-14 21:46:27.0,RT @TristanSnell Get rid of train safety rules...,http://twitter.com/Valiant7283/statuses/163575...,twitter.com,neutral,twitter,en,NaN,...,0,0,22055,False,2023-03-14T21:53:24.051+0000,1693,RETWEET,NaN,NaN,Valiant7283 (Val #GOPPutinsParty #IStandWithUk...
1,2001600692,Attempt_1,2023-03-14 21:45:05.0,We need accountability from Norfolk Southern f...,http://twitter.com/SenJeffMerkley/statuses/163...,twitter.com,negative,twitter,en,USA,...,8,0,17687,True,2023-03-14T21:53:24.921+0000,47188,REPLY,Oregon,USA.OR,SenJeffMerkley (Senator Jeff Merkley)

In [19]:
data_2.Title[data_2.Title.duplicated()]

12        RT @nicksortor 🚨 #BREAKING: The State of Ohio ...
16        RT @OccupyDemocrats BREAKING: The state of Ohi...
17        RT @ACTBrigitte Immediately after the train cr...
27        RT @CTVNews Ohio sues Norfolk Southern over to...
29        RT @TristanSnell Get rid of train safety rules...
                                ...
366925    RT @bennyjohnson Has Joe Biden said anything a...
366926    RT @CRRJA5 Ohio Chernobyl 🥵and we haven’t hear...
366927    RT @CL4WS_OUT This video shows a fiery axle on...
366928    RT @KanekoaTheGreat THREAD: Photos, videos, an...
366929    RT @prem_thakker I spoke with the people of Ea...
Name: Title, Length: 310497, dtype: object

In [20]:
# tweets from data_1 and data_2
data_3 = pd.concat([data_2, data_1])

In [21]:
len(data_3), data_3.Title.duplicated().sum(), data_3['Query Id'].duplicated().sum()

(814103, 753791, 814102)

In [22]:
data_3.columns

Index(['Query Id', 'Query Name', 'Date', 'Title', 'Url', 'Domain', 'Sentiment',
       'Page Type', 'Language', 'Country Code', 'Continent Code', 'Continent',
       'Country', 'City Code', 'Account Type', 'Added', 'Author', 'City',
       'Entity Info', 'Expanded URLs', 'Full Name', 'Full Text', 'Gender',
       'Hashtags', 'Impact', 'Impressions', 'Interest', 'Location Name',
       'Media URLs', 'Mentioned Authors', 'Original Url', 'Professions',
       'Resource Id', 'Short URLs', 'Thread Author', 'Thread Created Date',
       'Thread Entry Type', 'Thread Id', 'Twitter Author ID',
       'Twitter Followers', 'Twitter Following', 'Twitter Reply Count',
       'Twitter Reply to', 'Twitter Retweet of', 'Twitter Retweets',
       'Twitter Likes', 'Twitter Tweets', 'Twitter Verified', 'Updated',
       'Reach (new)', 'Engagement Type', 'Region', 'Region Code',
       'Weblog Title'],
      dtype='object')

In [23]:
data_3.drop_duplicates(inplace=True)

In [24]:
data_3.drop_duplicates(subset = ['Title'], inplace=True)

In [25]:
len(data_3)

60312

In [26]:
data_3['Engagement Type'].value_counts(dropna=False)

NaN        26329
RETWEET    20744
REPLY      10670
QUOTE       2569
Name: Engagement Type, dtype: int64

In [27]:
(data_3['Twitter Verified'] == True).sum()

5111

In [28]:
data_3['Author'][data_3['Twitter Verified'] == True]

24             WashTimes
28             dansewell
33                  ksbw
35        SenJeffMerkley
47               CTVNews
               ...
444234    JordanChariton
446547           FoxNews
446934     MorePerfectUS
446939    JosephWulfsohn
446958     microsoftnews
Name: Author, Length: 5111, dtype: object

In [29]:
(data_3['Professions'][data_3['Twitter Verified'] == True].iloc[1])

'{profession=Journalist, jobTitle=Editor}, {profession=Teacher & Lecturer, jobTitle=Teacher}'

In [30]:
import numpy as np

In [31]:
data_3['Professions'][data_3['Twitter Verified'] == True].apply(lambda x: 0 if x is np.nan else x)
# journalist

24                                                        0
28        {profession=Journalist, jobTitle=Editor}, {pro...
33                                                        0
35                {profession=Politician, jobTitle=Senator}
47                                                        0
                                ...
444234         {profession=Journalist, jobTitle=Journalist}
446547                                                    0
446934                                                    0
446939           {profession=Journalist, jobTitle=Reporter}
446958                                                    0
Name: Professions, Length: 5111, dtype: object

In [32]:
# Organizations accounts do not have professions, so we cannot use that to get news media organizations
data_3['Professions'][(data_3['Account Type'] == 'organisational') & (data_3['Twitter Verified'] == True)].isna().value_counts(normalize=True)

True     0.996638
False    0.003362
Name: Professions, dtype: float64

In [33]:
potential_news_org = [i for i in data_3['Author'][(data_3['Account Type'] == 'organisational') & (data_3['Twitter Verified'] == True)].value_counts().index]

## To do
Create a list of media accounts to match with the other data set

In [38]:
individual_verified = [i for i in data_3['Author'][(data_3['Account Type'] == 'individual') & (data_3['Twitter Verified'] == True)].value_counts().index]

In [40]:
# individual_verified

In [55]:
import re
count = 0
news_org_list = []
check_by_hand = []
pattern = re.compile(r'news|abc|cnn|cbs|reuters|times|fox|post|nbc|cnbc|bloomberg|gazette|politico|cspan|politics|journal|Tribune|daily|wsj|yahoo|tv|sun|time|radio|chronicle|herald', re.IGNORECASE) 
for item in potential_news_org:
    if pattern.search(item):
        news_org_list.append(item)
    else:
        check_by_hand.append(item)

In [82]:
len(check_by_hand)

341

In [66]:
mk_news_org = pd.read_csv('MK/news_accounts_dataset3.csv')

In [67]:
mk_news_org = mk_news_org.SENDER.to_list()

In [69]:
count = 0
for i in news_org_list:
    if i in mk_news_org:
      count += 1
    else:
       pass

In [71]:
count / len(news_org_list)

0.6657824933687002

In [77]:
news_orgs_list2 = []
check_by_hand_2 = []
for account in check_by_hand:
    if account in mk_news_org:
      news_orgs_list2.append(account)
    else:
       check_by_hand_2.append(account)

In [81]:
#news_orgs_list2

In [80]:
len(check_by_hand_2)

185

In [68]:
news_org_list in mk_news_org

False

In [ ]:
# With regex: News, news, Times, times, media

In [69]:
data_3.head(4)

,Query Id,Query Name,Date,Title,Url,Domain,Sentiment,Page Type,Language,Country Code,...,Twitter Retweets,Twitter Likes,Twitter Tweets,Twitter Verified,Updated,Reach (new),Engagement Type,Region,Region Code,Weblog Title
0,2001600692,Attempt_1,2023-03-14 21:56:12.0,RT @TristanSnell Get rid of train safety rules...,http://twitter.com/TurnKyBlue/statuses/1635761...,twitter.com,neutral,twitter,en,USA,...,0,0,139422,False,2023-03-14T22:05:29.119+0000,2752,RETWEET,Kentucky,USA.KY,TurnKyBlue (Shut Down GOP)
1,2001600692,Attempt_1,2023-03-14 21:56:03.0,RT @realTuckFrumper Ohio Sues Norfolk Southern...,http://twitter.com/jrbkjrbk/statuses/163576173...,twitter.com,neutral,twitter,en,NaN,...,0,0,931407,False,2023-03-14T22:04:45.998+0000,158,RETWEET,NaN,NaN,jrbkjrbk (Roger K)
2,2001600692,Attempt_1,2023-03-14 21:55:12.0,RT @SenJeffMerkley We need accountability from...,http://twitter.com/camoxendale/statuses/163576...,twitter.com,negative,twitter,en,NaN,...,0,0,583071,False,2023-03-14T22:03:59.790+0000,131,RETWEET,NaN,NaN,camoxendale (cam oxendale)
3,2001600692,Attempt_1,2023-03-14 21:54:42.0,RT @nicksortor 🚨 #BREAKING: The State of Ohio ...,http://twitter.com/strongfemchar/statuses/1635...,twitter.com,negative,twitter,en,NaN,...,0,0,1136,False,2023-03-14T22:03:33.388+0000,0,RETWEET,NaN,NaN,strongfemchar (Strong Mother)

In [ ]:
# cols_of_interest = 'Date', 'Title', 'Sentiment', 'Account Type', 'Added', 'Author', 'Entity Info', 'Expanded URLs',	'Full Name',	'Full Text',	'Gender',	'Hashtags',	'Impact',	'Impressions',	'Interest',

In [46]:
data_3.iloc[:, 0:14].head(5)

,Query Id,Query Name,Date,Title,Url,Domain,Sentiment,Page Type,Language,Country Code,Continent Code,Continent,Country,City Code
0,2001600692,Attempt_1,2023-03-14 21:56:12.0,RT @TristanSnell Get rid of train safety rules...,http://twitter.com/TurnKyBlue/statuses/1635761...,twitter.com,neutral,twitter,en,USA,NORTH AMERICA,North America,United States of America,NaN
1,2001600692,Attempt_1,2023-03-14 21:56:03.0,RT @realTuckFrumper Ohio Sues Norfolk Southern...,http://twitter.com/jrbkjrbk/statuses/163576173...,twitter.com,neutral,twitter,en,NaN,NaN,NaN,NaN,NaN
2,2001600692,Attempt_1,2023-03-14 21:55:12.0,RT @SenJeffMerkley We need accountability from...,http://twitter.com/camoxendale/statuses/163576...,twitter.com,negative,twitter,en,NaN,NaN,NaN,NaN,NaN
3,2001600692,Attempt_1,2023-03-14 21:54:42.0,RT @nicksortor 🚨 #BREAKING: The State of Ohio ...,http://twitter.com/strongfemchar/statuses/1635...,twitter.com,negative,twitter,en,NaN,NaN,NaN,NaN,NaN
4,2001600692,Attempt_1,2023-03-14 21:54:29.0,RT @NEWSMAX A new poll finds the majority of A...,http://twitter.com/Waywow/statuses/16357613417...,twitter.com,neutral,twitter,en,NaN,NaN,NaN,NaN,NaN

In [49]:
data_3.iloc[:, 14:28].head(5)

,Account Type,Added,Author,City,Entity Info,Expanded URLs,Full Name,Full Text,Gender,Hashtags,Impact,Impressions,Interest,Location Name
0,individual,2023-03-14T22:05:29.119+0000,TurnKyBlue,NaN,"{entityId=1924957, entityConfidence=HIGH, url=...",NaN,TurnKyBlue (Shut Down GOP),RT @TristanSnell Get rid of train safety rules...,unknown,NaN,20.0,4414,Politics,"KY, USA"
1,individual,2023-03-14T22:04:45.998+0000,jrbkjrbk,NaN,"{entityId=1193370, entityConfidence=HIGH, url=...",https://www.huffpost.com/entry/ohio-sues-norfo...,jrbkjrbk (Roger K),RT @realTuckFrumper Ohio Sues Norfolk Southern...,male,NaN,0.0,1011,NaN,NaN
2,individual,2023-03-14T22:03:59.790+0000,camoxendale,NaN,"{entityId=1321054, entityConfidence=HIGH, url=...",NaN,camoxendale (cam oxendale),RT @SenJeffMerkley We need accountability from...,female,NaN,0.0,990,NaN,NaN
3,individual,2023-03-14T22:03:33.388+0000,strongfemchar,NaN,"{entityId=1321054, entityConfidence=HIGH, url=...",NaN,strongfemchar (Strong Mother),RT @nicksortor 🚨 #BREAKING: The State of Ohio ...,unknown,#breaking,0.0,64,NaN,NaN
4,individual,2023-03-14T21:59:01.264+0000,Waywow,NaN,"{entityId=7173106, entityConfidence=HIGH, url=...",https://www.newsmax.com/draft-stories/buttigie...,Waywow (Wayne J),RT @NEWSMAX A new poll finds the majority of A...,male,NaN,0.0,2,NaN,NaN

In [48]:
data_3.iloc[:, 28 :42].head(5)

,Media URLs,Mentioned Authors,Original Url,Professions,Resource Id,Short URLs,Thread Author,Thread Created Date,Thread Entry Type,Thread Id,Twitter Author ID,Twitter Followers,Twitter Following,Twitter Reply Count
0,NaN,@tristansnell,http://twitter.com/TristanSnell/statuses/16357...,NaN,137dc6280ae8877be49180430ffbfe52,NaN,TristanSnell,2023-03-14T21:25:36.000+0000,share,1635754073080176640,600444379,4414,4933,0
1,NaN,@realtuckfrumper,http://twitter.com/realTuckFrumper/statuses/16...,NaN,f2fa45bb083b483edb72e75240517ff8,"https://t.co/ABXKerRD4A, http://dlvr.it/SktpC9",realTuckFrumper,2023-03-14T19:38:36.000+0000,share,1635727145854197760,1383905040,1011,403,0
2,NaN,NaN,http://twitter.com/SenJeffMerkley/statuses/163...,NaN,2581be0bfc2739fba188158eb87e165f,NaN,SenJeffMerkley,2023-03-14T21:45:05.000+0000,share,1635758977374998529,574610719,990,341,0
3,NaN,NaN,http://twitter.com/nicksortor/statuses/1635715...,NaN,e3a63b6cd116f3e2297460f7222e367c,NaN,nicksortor,2023-03-14T18:53:42.000+0000,share,1635715845656543248,3054687640,64,496,0
4,http://pbs.twimg.com/media/FrLuhYcaEAExNTH.jpg,NaN,http://twitter.com/NEWSMAX/statuses/1635631876...,NaN,99a308c2c640972394fdbc2868f6c1a0,"https://t.co/yiGTVZTHLU, https://t.co/pErVKgnR...",NEWSMAX,2023-03-14T13:20:02.000+0000,share,1635631876919656448,1585753875348324352,2,12,0

In [40]:
data_3.iloc[:, 42:56].head(5)

,Twitter Reply to,Twitter Retweet of,Twitter Retweets,Twitter Likes,Twitter Tweets,Twitter Verified,Updated,Reach (new),Engagement Type,Region,Region Code,Weblog Title
0,NaN,http://twitter.com/TristanSnell/statuses/16357...,0,0,139422,False,2023-03-14T22:05:29.119+0000,2752,RETWEET,Kentucky,USA.KY,TurnKyBlue (Shut Down GOP)
1,NaN,http://twitter.com/realTuckFrumper/statuses/16...,0,0,931407,False,2023-03-14T22:04:45.998+0000,158,RETWEET,NaN,NaN,jrbkjrbk (Roger K)
2,NaN,http://twitter.com/SenJeffMerkley/statuses/163...,0,0,583071,False,2023-03-14T22:03:59.790+0000,131,RETWEET,NaN,NaN,camoxendale (cam oxendale)
3,NaN,http://twitter.com/nicksortor/statuses/1635715...,0,0,1136,False,2023-03-14T22:03:33.388+0000,0,RETWEET,NaN,NaN,strongfemchar (Strong Mother)
4,NaN,http://twitter.com/NEWSMAX/statuses/1635631876...,0,0,46,False,2023-03-14T21:59:01.264+0000,0,RETWEET,NaN,NaN,Waywow (Wayne J)

In [51]:
len(pd.concat([data_2, data_1]))

814103

In [52]:
814103 - 753791

60312