In [2]:
import pandas as pd

In [3]:
data_1 = pd.read_csv('Data/DatasetOne.csv')

In [4]:
len(data_1)

447173

In [5]:
data_1.head(4)

,Query Id,Query Name,Date,Title,Url,Domain,Sentiment,Page Type,Language,Country Code,...,Sina Weibo Author Id,Sina Weibo Bi Followers,Sina Weibo Favourites Count,Sina Weibo Followers,Sina Weibo Following,Sina Weibo Post Count,Sina Weibo Raw Location,Subreddit,Subreddit Subscribers,Weblog Title
0,2001600692,Attempt_1,2023-03-14 21:46:27.0,RT @TristanSnell Get rid of train safety rules...,http://twitter.com/Valiant7283/statuses/163575...,twitter.com,neutral,twitter,en,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Valiant7283 (Val #GOPPutinsParty #IStandWithUk...
1,2001600692,Attempt_1,2023-03-14 21:45:05.0,We need accountability from Norfolk Southern f...,http://twitter.com/SenJeffMerkley/statuses/163...,twitter.com,negative,twitter,en,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SenJeffMerkley (Senator Jeff Merkley)
2,2001600692,Attempt_1,2023-03-14 21:45:00.0,The federal lawsuit also seeks to force the co...,http://twitter.com/YourNewsNet/statuses/163575...,twitter.com,negative,twitter,en,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,YourNewsNet (NEWSnet)
3,2001600692,Attempt_1,2023-03-14 21:44:13.0,#Ohio files #FederalLawsuit against Norfolk So...,http://twitter.com/Reading4Leading/statuses/16...,twitter.com,neutral,twitter,en,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Reading4Leading (It's Me)

In [6]:
# Drop columns with only nulls
null_col_bool = [i for i in [data_1.isna().sum() != len(data_1)][0]]
cols_keep = data_1.columns[null_col_bool]
data_1 = data_1.loc[:, cols_keep]

In [7]:
# print({col: data_1[col].sum() for col in data_1.select_dtypes(include=['int', 'float'])})

In [8]:
# Drop this columns because all values are zero (these are related to Instagram and Linkedin attributes, and we ont have Instagram or Linknedin data)
cols_drop = [col for col in data_1.select_dtypes(include=['int', 'float']) if data_1[col].sum() == 0]
data_1.drop(columns = cols_drop, inplace=True)

In [9]:
# Drop columns because all entries are 0
0 == data_1['Is Syndicated'].sum() == data_1['Linkedin Sponsored'].sum() == data_1['Starred'].sum() == data_1['Checked'].sum()

# Drop columns becuase they only have one unique value (True for example)
1 == data_1['Total Monthly Visitors'].nunique() == data_1['Content Source'].nunique() == data_1['Content Source Name'].nunique() == data_1['Page Type Name'].nunique() == data_1['Pub Type'].nunique()

True

In [10]:
# Not very useful, same case with Latitude
data_1['Longitude'].value_counts()

 0.000000      447157
-77.036819          3
-87.629005          2
-78.534470          1
-84.772171          1
-75.708061          1
-74.011040          1
-80.546501          1
-87.628670          1
-87.630859          1
-79.926163          1
-121.919281         1
-118.100418         1
-115.148445         1
Name: Longitude, dtype: int64

In [11]:
# Non useful columns 
non_useful_cols = ['Avatar', 'Latitude', 'Longitude', 'Total Monthly Visitors', 'Content Source', 'Is Syndicated', 'Linkedin Sponsored', 'Starred', 'Content Source Name', 'Page Type Name', 'Pub Type', 'Checked']
data_1.drop(columns = non_useful_cols, inplace=True)

In [12]:
# Final columns kept
data_1.columns

Index(['Query Id', 'Query Name', 'Date', 'Title', 'Url', 'Domain', 'Sentiment',
       'Page Type', 'Language', 'Country Code', 'Continent Code', 'Continent',
       'Country', 'City Code', 'Account Type', 'Added', 'Author', 'City',
       'Entity Info', 'Expanded URLs', 'Full Name', 'Full Text', 'Gender',
       'Hashtags', 'Impact', 'Impressions', 'Interest', 'Location Name',
       'Media URLs', 'Mentioned Authors', 'Original Url', 'Professions',
       'Resource Id', 'Short URLs', 'Thread Author', 'Thread Created Date',
       'Thread Entry Type', 'Thread Id', 'Twitter Author ID',
       'Twitter Followers', 'Twitter Following', 'Twitter Reply Count',
       'Twitter Reply to', 'Twitter Retweet of', 'Twitter Retweets',
       'Twitter Likes', 'Twitter Tweets', 'Twitter Verified', 'Updated',
       'Reach (new)', 'Engagement Type', 'Region', 'Region Code',
       'Weblog Title'],
      dtype='object')

In [13]:
data_1['Twitter Verified'].value_counts()

False    439974
True       7199
Name: Twitter Verified, dtype: int64

In [14]:
data_1.groupby('Twitter Verified')['Twitter Retweets'].sum()

Twitter Verified
False    226703
True     206244
Name: Twitter Retweets, dtype: int64

### **Tweets from source 2 ( I know the folder is named Data_1, but this is in fact data_2)**

In [15]:
tweet = pd.read_csv('Data/Tweet.csv')
agent = pd.read_csv('Data/Agent.csv')
hashtag = pd.read_csv('Data/Hashtag.csv')
url = pd.read_csv('Data/URL.csv')

In [16]:
tweet.head(4)

,Node ID,DATE,IS_RETWEET,RETWEET_COUNT,MESSAGE,Language,conversation_id,HAS_URL,IS_REPLY,IS_IN_REPLY_TO,IS_QUOTE,IS_GEOTAGGED,Latitude,Longitude,Sender,Location
0,1635792903053221889,2023-03-14 23:59:54-04,1.0,51.0,RT @NBCNews: BREAKING: Ohio's attorney general...,en,1.635793e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ricardonotes,USA
1,1635731458026340360,2023-03-14 19:55:44-04,NaN,51.0,BREAKING: Ohio's attorney general sues Norfolk...,en,1.635731e+18,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NBCNews,"New York, NY"
2,1635792899928465409,2023-03-14 23:59:53-04,1.0,3.0,RT @Patriot911News: JUST IN: Ohio is Suing Nor...,en,1.635793e+18,1.0,NaN,NaN,NaN,NaN,NaN,NaN,sweed20,North Dakota
3,1635792836107948032,2023-03-14 23:59:38-04,NaN,3.0,JUST IN: Ohio is Suing Norfolk Southern Over T...,en,1.635793e+18,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Patriot911News,NaN

In [17]:
len(tweet)

124678

In [18]:
agent.head(4)

,Node ID,Language,NUMBER_FOLLOWERS,Node Label,IS_VERIFIED,LOCATION,IS_NEWS_AGENCY,TWEET_COUNT
0,2608799046,en,463.0,ricardonotes,0.0,USA,NaN,4
1,25984168,en,2154.0,sweed20,0.0,North Dakota,NaN,2
2,858066056786694144,en,30331.0,Patriot911News,0.0,NaN,NaN,3
3,1333385753146126336,en,2338.0,RebeccaCPayton2,0.0,"Alabama, USA",NaN,1

In [19]:
agent.IS_VERIFIED.value_counts(normalize = False)

0.0    75963
1.0     2681
Name: IS_VERIFIED, dtype: int64

In [20]:
# If there are 2681 tweets from verified and 852 from news org, then the rest are? Politicians (mainly??), Artists
agent.IS_NEWS_AGENCY.value_counts(dropna = False)

NaN    77946
1.0      852
Name: IS_NEWS_AGENCY, dtype: int64

In [21]:
# News organizations, seems like one per tweet.
agent['Node Label'][agent.IS_NEWS_AGENCY == 1]

26        MailOnline
44         AKNewsNow
62         WashTimes
82       DailyCaller
85           CBSNews
            ...
77450            CBC
77529      wikileaks
78184            nbc
78185            CBS
78356      RogReview
Name: Node Label, Length: 852, dtype: object